<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header">
</header>
<div class="container">
    <form class="form-signin text-center" method="post" th:action="@{/login}">
        <h2 class="form-signin-heading">Please sign in</h2>
        <div th:if="${param.logout}">
            <div class="alert alert-info" role="alert">You have been signed out</div>
        </div>
        <div th:if="${param.error}">
            <div class="alert alert-danger" role="alert">Bad credentials</div>
        </div>
        <div class="container mt-3 mb-2" >
            <a class="btn btn-lg btn-secondary fab fa-google col-3" th:href="@{oauth2/authorization/google}">Continue with Google</a>
        </div>
        <div class="container mt-2 mb-2">
            <a class="btn btn-lg btn-secondary fab fa-facebook col-3" th:href="@{oauth2/authorization/facebook}">Continue with Facebook</a>
        </div>
        <div class="container mt-2 mb-2">
            <a class="btn btn-lg btn-secondary fab fa-github col-3" th:href="@{oauth2/authorization/github}">Continue with GitHub</a>
        </div>
<!--        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
    </form>
</div>
<script src="https://kit.fontawesome.com/d361015408.js" crossorigin="anonymous"></script>
</body>
</html>